extends layout 

block content
  h1= title 
  form(method="POST" action="/new")
    p
      input(class='field', type="textbox", name='text', value='', placeholder='Enter a Message', required=true, maxlength="100")
      br
      input(class='field', type="text", name='user', value='', placeholder='Name', required=true, maxlength='30')
    input(class='submit', type='submit', value='Submit')
  